@import url('./__button/main__button.css');
@import url('./__greeting/main__greeting.css');
@import url('./__description/main__description.css');

.main {
  flex-basis: 60%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 760px;
}
