.card__answer-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 3rem;
  border-top: 1px solid lightgray;
  margin: 2rem;
}

@media (max-width: 550px) {
  .card__answer-icons {
    margin: 1rem;
  }
}
