.root {
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 2%;
  background-color: black;
  box-sizing: border-box;
}
